.container {
  width: 100%;
  max-width: 1110px;
  margin: 0 164px;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1110px;
  margin: 64px 164px;
}

header img {
  width: 24px;
  height: 24px;

  cursor: pointer;
}

header a {
  color: var(--color-link);
}

.btn-menu-mobile {
  display: none;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-primary);
}

.menu {
  display: flex;
  gap: 42px;
  align-self: center;
}

.menu a {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
}

.menu a:hover {
  color: var(--color-link-hover);
}

.menu .active {
  color: var(--color-link-active);
}

.interested {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  margin: 50px 0;

  text-align: center;

  color: var(--color-title);

}

.interested a {
  margin-top: 40px;
  max-width: 168px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 80px;

  background-color: var(--color-primary);
  box-shadow: rgb(0 0 0 / 33%) 0px -6px 11px 0px, rgb(0 0 0 / 33%) 0px 11px 9px -6px inset;
}

footer div {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
}

.icons-area {
  display: flex;
  gap: 16px;
}

.icons-area div {
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 1138px) {
  header {
    padding: 0 16px 0 16px;
  }
}

@media screen and (max-width: 600px) {
  .btn-menu-mobile {
    display: flex;
    margin-right: 16px;
    z-index: 100;
    gap: .5rem;
  }

  header.menu-active .hamburger,
  header.menu-active .btn-menu-mobile {
    color: var(--color-link-active);
  }

  header.menu-active .hamburger:hover,
  header.menu-active .btn-menu-mobile:hover {
    color: var(--color-link-hover);
  }

  .btn-menu-mobile:hover,
  .btn-menu-mobile:hover .hamburger {
    color: var(--color-link-hover);
  }

  header.menu-active .menu {
    display: flex;
    position: absolute;
    flex-direction: column;

    width: 219px;
    top: 153px;
    left: 0px;
    padding: 78px 32px 32px 32px;
    height: 284px;
    border-radius: 0 0 16px 0;
    z-index: 90;

    background: var(--color-background);

    box-shadow: rgb(0 0 0 / 33%) -2px -8px 9px -6px inset;
  }

  .menu {
    display: none;
  }


  .hamburger {
    display: block;
    border-top: 2px solid;
    width: 20px;
    color: var(--color-primary);
  }

  .hamburger::after,
  .hamburger::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: .3s;
    position: relative;
  }

  header.menu-active .hamburger {
    border-top-color: transparent;
  }

  header.menu-active .hamburger::before {
    transform: rotate(135deg);
  }

  header.menu-active .hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  .menu a {
    margin-left: 16px;
  }
}



@media screen and (max-width: 330px) {
  h2 {
    text-align: center;
  }

  .interested {
    margin: 32px 0 32px 0;
  }

  .interested h2 {
    padding: 0px 16px 0px 16px;
  }
}

.linkedin-icon {
  background-image: var(--img-footer-icon-linkedin);
  width: 24px;
  height: 24px;
}

.linkedin-icon:hover {
  background-image: var(--img-footer-icon-linkedin-hover);
}

.git-icon {
  background-image: var(--img-footer-icon-git);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;

}

.git-icon:hover {
  background-image: var(--img-footer-icon-git-hover);

}