.hearder-contact {
  margin-bottom: 0;
  border-bottom: 1px solid #E8E2E2;
  padding-bottom: 64px;
}

.contact-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin: 48px 0;
}

.icons-area {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.linkedin-contact {
  width: 111px;
  height: 28px;
}

.linkedin-contact:hover {
  box-shadow: var(--color-btn-shadow);
}


.contact-info div {
  max-width: 634px;
  margin: 0px 16px;
}

.contact-info p {
  margin-bottom: 54px;

  font-size: 16px;
}