.main-portifolio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider {
  display: flex;
  gap: 16px;
}

.btn-prev,
.btn-next {
  cursor: pointer;
  width: 88px;
}

.card-portifolio {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 124px;

  margin-bottom: 80px;
}

.card-portifolio-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-width: 1px 0px;
  border-style: solid;
  border-color: #E8E2E2;
}

.card-portifolio-img-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-width: 261px;
  min-height: 242px;

  max-width: 540px;
  max-height: 500px;


  border-radius: 24px;
}

.portifolio-img-left {
  box-shadow: -6px 9px 10px 0px rgb(0 0 0 / 50%);
}

.portifolio-img-right {
  box-shadow: 6px 9px 10px 0px rgb(0 0 0 / 50%);
}

.card-portifolio-details h2 {
  margin: 102px 0 28px 0;
  text-transform: capitalize;
}

.card-portifolio-details p {
  margin-bottom: 54px;

  font-size: 16px;
}

.card-portifolio-details a {
  max-width: 174px;
  margin-bottom: 102px;
}

.btn-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.btn-git {
  margin-left: auto;
}

@media screen and (max-width: 1227px) {

  header {
    width: 90%;
  }


  .slider {
    padding-top: 16px;

    border-width: 1px 0px;
    border-style: solid;
    border-color: #E8E2E2;
  }

  .card-portifolio {
    flex-wrap: wrap;
    gap: 0px;
    padding: 0 16px 0 16px;
  }

  .card-portifolio-details {
    border: none;
  }

  .card-portifolio-details h2 {
    align-self: center;
  }



  .btn-prev {
    position: absolute;
    left: 2%;
    top: 286px;
    width: 36px;
  }

  .btn-next {
    position: absolute;
    left: 87%;
    top: 286px;
    width: 36px;
  }

  .btn-git {
    margin-left: 10%;
  }

  .btn-container {
    justify-content: center;
  }
}

@media screen and (max-width: 349px) {
  .card-portifolio {
    margin-bottom: 32px;

  }

  .card-portifolio-details {
    border: none;
    width: 263px;
  }

  .card-portifolio-details a {
    border: none;
    width: 263px;
    margin: 16px 0 16px 0;
  }

  .card-portifolio-details h2 {
    margin-top: 32px;
  }

  .card-portifolio-details p {
    margin-bottom: 0px;

  }

  .btn-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .btn-git {
    margin-left: 0;
  }

  .btn-prev {
    position: absolute;
    left: 2%;
    top: 286px;
    width: 36px;
  }

  .btn-next {
    position: absolute;
    left: 87%;
    top: 286px;
    width: 36px;
  }
}